.page-title {
  text-align: center;
  color: #4287F5;
}

.filters-wrapper {
  padding: 1rem 0;
  margin: 0 10%;
}

.filters-title {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #888;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.filters {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 6px;

  scrollbar-width: none;
}

.filters::-webkit-scrollbar {
  display: none;
}

.filter-btn {
  border: 1px solid #4287F5;
  color: #4287F5;
  background-color: white;
  padding: 3px 15px;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.25s ease;
  white-space: nowrap;
  font-size: 14px;
}

.filter-btn:hover {
  background-color:#d8e7ff;
}

.filter-btn.active {
  background-color:#4287F5;
  color: white;
}